.idxproductos {
  grid-area: idxproductos;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .idxproductos .idxproductos__slider .idxproductos__slider__imagenes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    margin: 1rem auto; }

.idxpartners {
  grid-area: idxpartners;
  display: flex;
  flex-direction: column;
  align-items: center; }

.idxabout {
  grid-area: idxabout;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.idxcontacto {
  grid-area: idxcontacto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.idx__button {
  flex-direction: row;
  align-self: center;
  text-decoration: none;
  margin-top: 7px; }
  .idx__button a {
    text-decoration: none; }

/*PRODCUTOS*/
.productosCarrusel {
  margin: 5rem;
  padding: 3rem;
  margin-bottom: 80px; }

/*FOOTER*/
.footer {
  margin: 0;
  padding: 0;
  justify-self: self-end;
  background-color: darkslategrey;
  width: 100%;
  bottom: 0;
  height: min-content; }
  .footer .footer__vinculos {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: floralwhite;
    align-self: flex-end; }
    .footer .footer__vinculos a {
      list-style-type: none;
      text-decoration: none;
      color: floralwhite; }
  .footer .footer__info {
    text-align: center;
    font-style: italic;
    color: darkred; }

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important; }

/*Cosas Generales*/
body {
  background-color: whitesmoke; }

.bgGreen {
  background-color: darkseagreen !important; }

.espaciado {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }

.subtitulos {
  color: #247724; }

main {
  margin: 5rem; }

.centro {
  align-self: center; }

.abajo {
  align-self: flex-end !important; }

.encabezado {
  background-image: url("../assets/fondoGrey.jpg"); }

.encabezado__Titulo {
  color: #247724;
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.encabezado__logo {
  filter: brightness(1.9);
  mix-blend-mode: multiply;
  /*estas 2 lineas eliminan el fondo blanco*/ }

.navHipervinculo a {
  text-decoration: none;
  color: cornsilk !important; }

.efectoBigger {
  transition: 2s !important; }

.efectoBigger:hover {
  transform: scale(1.12, 1.12) !important; }

/*pantalla grande*/
@media only screen and (min-width: 750px) {
  /*FOOTER*/
  .footer {
    margin: 0;
    padding: 0;
    justify-self: self-end;
    padding-left: 20px;
    background-color: darkslategrey;
    /*bottom: 0;*/
    width: 100%; }
    .footer .footer__vinculos {
      list-style-type: none;
      text-decoration: none;
      color: floralwhite;
      align-self: flex-end;
      text-align: left; }
      .footer .footer__vinculos a {
        list-style-type: none;
        text-decoration: none;
        color: floralwhite; }
    .footer .footer .footer__info {
      font-style: italic;
      color: darkred;
      text-align: left; } }
