.idxproductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.idxproductos .idxproductos__slider .idxproductos__slider__imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
}

.idxproductos__image {
  width: 30rem !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.idxpartners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.idxpartners .idxpartners__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.idxpartners .idxpartners__images .thumbPartner {
  padding: 1rem !important;
}

.idxpartners .idxpartners__images .thumbPartner img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.idxabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.idxcontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.idx__button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  margin-top: 7px;
}

.idx__button a {
  text-decoration: none;
}

.idx__button button {
  padding-left: 10% !important;
  padding-right: 10% !important;
  border-radius: 3rem;
  border: #164870 1px solid;
  white-space: nowrap;
}

/*PRODCUTOS*/
.productosBody {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "productosNombre productosNombre productosNombre"     "productosImage productosExtra productosExtra" "productosImage productosExtra productosExtra";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem;
}

.productosBody .productosNombre {
  grid-area: "productosNombre";
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  color: #0d9c78;
  text-align: center;
  color: #247724;
  margin: 10px auto;
  padding: 10px auto;
}

.productosBody .productosImage {
  grid-area: "productosImage";
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.productosBody .productosExtra {
  grid-area: "productosExtra";
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  padding: 1rem !important;
}

.productosBody .productosExtra .productosInfo {
  font-size: small;
}

.productosBody .productosExtra .productosMapa iframe {
  width: 325px;
  height: 250px;
}

/*PARTNERS*/
.partnerBody {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "partnerNombre partnerNombre partnerNombre"     "partnerImage partnerExtra partnerExtra" "partnerImage partnerExtra partnerExtra";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem;
}

.partnerBody .partnerNombre {
  grid-area: "partnerNombre";
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  color: #0d9c78;
  text-align: center;
  color: #247724;
  margin: 10px auto;
  padding: 10px auto;
}

.partnerBody .partnerImage {
  grid-area: "partnerImage";
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.partnerBody .partnerExtra {
  grid-area: "partnerExtra";
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  padding: 1rem !important;
}

.partnerBody .partnerExtra .partnerInfo {
  font-size: small;
}

.partnerBody .partnerExtra .partnerMapa iframe {
  width: 325px;
  height: 250px;
}

.textAbout, .textAboutContacto {
  word-spacing: 0.5rem !important;
}

.textAboutContacto {
  text-align: center;
}

.btnSubmit {
  border-radius: 7rem;
  color: #247724;
}

.btnSubmit:hover {
  color: #f3c15e;
}

/*pantalla grande*/
@media only screen and (min-width: 750px) {
  /*HOME*/
  .idxproductos__image {
    width: 30rem !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .idxpartners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .idxpartners .idxpartners__images {
    padding: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    -ms-grid-column-align: center !important;
        justify-self: center !important;
  }
  .idxpartners .idxpartners__images .thumbPartner {
    padding: 15px !important;
  }
  /*PRODUCTOS*/
  .productosBody {
    padding-top: 2rem !important;
    display: -ms-grid !important;
    display: grid !important;
    gap: 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "productosNombre productosNombre productosNombre"     "productosImage productosExtra productosExtra" "productosImage productosExtra productosExtra";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productosBody .productosNombre {
    grid-area: "productosNombre";
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    color: #0d9c78 !important;
    text-align: center;
    font-style: italic;
    color: #247724;
    margin: 10px auto;
    padding: 10px auto;
  }
  .productosBody .productosImage {
    grid-area: "productosImage";
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    width: 400px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .productosBody .productosExtra {
    grid-area: "productosExtra";
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
  }
  .productosBody .productosExtra .productosInfo {
    font-size: medium;
  }
  .productosBody .productosExtra .productosMapa iframe {
    width: 450px;
    height: 300px;
  }
  /*PARTNERS*/
  .partnerBody {
    padding-top: 2rem !important;
    display: -ms-grid !important;
    display: grid !important;
    gap: 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "partnerNombre partnerNombre partnerNombre"     "partnerImage partnerExtra partnerExtra" "partnerImage partnerExtra partnerExtra";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partnerBody .partnerNombre {
    grid-area: "partnerNombre";
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    color: #0d9c78 !important;
    text-align: center;
    font-style: italic;
    color: #247724;
    margin: 10px auto;
    padding: 10px auto;
  }
  .partnerBody .partnerImage {
    grid-area: "partnerImage";
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
    width: 400px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .partnerBody .partnerExtra {
    grid-area: "partnerExtra";
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
  }
  .partnerBody .partnerExtra .partnerInfo {
    font-size: medium;
  }
  .partnerBody .partnerExtra .partnerMapa iframe {
    width: 450px;
    height: 300px;
  }
  .thumbPartner {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  /*FOOTER*/
  .footer {
    margin: 0;
    padding: 0;
    -ms-grid-column-align: self-end;
        justify-self: self-end;
    padding-left: 20px;
    background-color: darkslategrey;
    /*bottom: 0;*/
    width: 100%;
  }
  .footer .footer__vinculos, .footer .footer__vinculos a {
    list-style-type: none;
    text-decoration: none;
    color: floralwhite;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left !important;
    margin-left: 0.5rem !important;
  }
  .footer .footer__vinculos a {
    list-style-type: none;
    text-decoration: none;
    color: floralwhite;
  }
  .footer .footer .footer__info {
    font-weight: normal;
    color: #f3c15e;
    text-align: left;
  }
}

/*FOOTER*/
.footer {
  margin: 0;
  padding: 2rem;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  background-color: darkslategrey;
  width: 100%;
  bottom: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.footer .footer__vinculos, .footer .footer__vinculos a {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: floralwhite;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .footer__vinculos .footerRedesImg {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  mix-blend-mode: multiply;
}

.footer .footer__info {
  text-align: center;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #f3c15e;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

/*Cosas Generales*/
.test {
  border: fuchsia 3px solid !important;
}

body {
  background-color: whitesmoke;
}

.bgGreen {
  background-color: darkseagreen !important;
}

.espaciado {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.subtitulos {
  color: #247724;
}

main {
  margin: 5rem;
}

.centro {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.abajo {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.encabezado {
  background-image: url("../assets/fondoGrey.jpg");
}

.encabezado__Titulo {
  color: #247724;
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.encabezado__logo {
  -webkit-filter: brightness(1.9);
          filter: brightness(1.9);
  mix-blend-mode: multiply;
  /*estas 2 lineas eliminan el fondo blanco*/
}

.navHipervinculo a {
  text-decoration: none;
  color: cornsilk !important;
}

.efectoBigger {
  -webkit-transition: 2s !important;
  transition: 2s !important;
}

.efectoBigger:hover {
  -webkit-transform: scale(1.12, 1.12) !important;
          transform: scale(1.12, 1.12) !important;
}

.linkinterno {
  text-decoration: none;
  color: #247724;
}

.linkinterno:hover {
  color: #f3c15e;
}

.parrafo {
  letter-spacing: 2px;
  word-wrap: break-word;
}
/*# sourceMappingURL=style.css.map */