/*FOOTER*/
.footer{
    margin: 0;
    padding: 0;
    justify-self: self-end;
    background-color: darkslategrey;
    width: 100%;
    bottom: 0;
    height: min-content;

    .footer__vinculos{
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        color: floralwhite;
        align-self: flex-end;
        a{
            @extend .footer__vinculos
        }
    }

    .footer__info{
        text-align: center;
        font-weight: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        color: $fc_amarillo;
    }

}