@mixin estiloFlex($direccion){
    display: flex;
    flex-direction: $direccion;
}

.idxproductos{
    grid-area: idxproductos;
    @include estiloFlex(column);
    align-items: center;
    .idxproductos__slider {
        .idxproductos__slider__imagenes{
        @include estiloFlex(column);
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        margin: 1rem auto;
        }
    }
}

.idxproductos__image{
    width: 1rem !important;
}
.idxpartners{
    grid-area: idxpartners;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idxabout{
    grid-area: idxabout;
    @include estiloFlex(column);
    align-items: center;
    text-align: center;
}

.idxcontacto{
    grid-area: idxcontacto;
    @include estiloFlex(column);
    align-items: center;
    text-align: center;
}

.idx__button{
    flex-direction: row;
    align-self: center;
    text-decoration: none;
    margin-top: 7px;
    a{
        text-decoration: none;
    }
    button{
        padding-left: 10% !important;
        padding-right: 10% !important;
        //padding-top: 3% !important;
        //padding-bottom: 3% !important;
        border-radius: 3rem;
        border: rgb(22, 72, 112) 1px solid;
        white-space: nowrap;
    }
}

