.idxproductos{
    grid-area: idxproductos;
    display: flex;
    flex-direction: column;
    align-items: center;
    .idxproductos__slider .idxproductos__slider__imagenes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        margin: 1rem auto;
    }
}

.idxpartners{
    grid-area: idxpartners;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idxabout{
    grid-area: idxabout;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.idxcontacto{
    grid-area: idxcontacto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.idx__button{
    flex-direction: row;
    align-self: center;
    text-decoration: none;
    margin-top: 7px;
    a{
        text-decoration: none;
    }
}

