@import "var";
@import "home";
@import "productos";
@import "partners";
@import "about";
@import "contacto";
@import "responsive";
@import "footer";

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

/*Cosas Generales*/

.test{
    border: fuchsia 3px solid !important;
}

body{
    background-color: whitesmoke;
}

.bgGreen{
    background-color: darkseagreen !important;
}

.espaciado{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.subtitulos{
    color: $fc_verde;
}

main{
    margin: 5rem;
}

.centro{
    align-self: center;
}

.abajo{
    align-self: flex-end !important;
}

.encabezado{
    background-image: url("../assets/fondoGrey.jpg");
}

.encabezado__Titulo{
    color: $fc_verde;
    font-weight: bold !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.encabezado__logo{
    filter: brightness(1.9);
    mix-blend-mode: multiply; /*estas 2 lineas eliminan el fondo blanco*/
}

.navHipervinculo a{
    text-decoration: none;
    color: cornsilk !important;
}

.efectoBigger{
    transition: 2s !important;
}

.efectoBigger:hover{
    transform: scale(1.12,1.12) !important;
}

.linkinterno{
    text-decoration: none;
    color: $fc_verde;
    &:hover{
        color: $fc_amarillo;    
    }
}

.parrafo{
    letter-spacing: 2px;
    word-wrap: break-word;
}